# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Posante Core Daemon SNAP
Comment=testnet
GenericName=Posante Digital Currency Daemon Client testnet network
Exec=posante-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/posante_testnet.png
MimeType=x-scheme-handler/posa;
Categories=X-Office;X-Finance;
Keywords=internet;posante;zposa;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
